---
import Layout from "../layouts/Layout.astro";
---

<Layout title="User Image Uploads with Astro + Netlify Blobs">
  <section>
    <h1>Example: User-generated image uploads</h1>
    <p>
      How to use Netlify blobs as a storage mechanism for user image uploads in
      an Astro project.
    </p>
    <p>
      Navigate <a href="/profile">to the profile page</a> to see this in action.
    </p>
  </section>
</Layout>
