---
import Layout from "../layouts/Layout.astro";
---

<Layout title="User Image Uploads with Astro + Netlify Blobs">
  <section>
    <h1>Example: User-generated image uploads</h1>
    <p>This is the profile page ...</p>
  </section>
</Layout>
