---
import ContentWrapper from '@/layouts/ContentWrapper.astro'
import Footer from '@/layouts/Footer.astro'
import Header from '@/layouts/Header.astro'
import '@/styles/main.css'

interface Props {
  title: string
  indexable?: boolean
}

const { title, indexable } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link
      rel="preload"
      href="https://example-styles.netlify.app/fonts/PacaembuVar-latin.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="https://example-styles.netlify.app/fonts/MulishVar-latin.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="stylesheet"
      href="https://example-styles.netlify.app/styles.css"
    />
  </head>
  <body class="min-h-screen justify-between flex flex-col">
    <div>
      <Header />
      <ContentWrapper indexable={indexable}>
        <slot />
      </ContentWrapper>
    </div>
    <Footer />
  </body>
</html>
