a.btn-primary:link,
a.btn-primary:visited,
a.btn-secondary:link,
a.btn-secondary:visited,
button {
  background-color:var(--blue-000);
  color: var(--blue-800);
  padding: 0.3em 1em;
  margin: 1em auto;
  border: 2px solid var(--blue-000);
  border-radius: var(--radius-1);
  font-weight: 600;
  font-size: 0.9em;
  font-family: var(--font-heading);
  text-decoration: none;
  display: inline-block;
  transition: all 300ms;
}

a.btn-secondary:link,
a.btn-secondary:visited {
  color: var(--blue-000);
  background-color: transparent
}



a.btn-primary:hover,
a.btn-primary:focus,
a.btn-secondary:hover,
a.btn-secondary:focus,
button:not(:disabled):hover {
  background-color: var(--teal-200);
  border-color: var(--teal-200);
  color: var(--blue-900);
  cursor: pointer;
  transition: all 100ms;
}


button:disabled {
  background-color:var(--blue-200);
  border-color:var(--blue-200);
}
