a.btn-primary:link,
a.btn-primary:visited,
a.btn-secondary:link,
a.btn-secondary:visited,
input[type=submit],
button {
  background-color:var(--teal-200);
  color: var(--blue-800);
  border: 1px solid var(--teal-200);
  padding: 0.3em 1em;
  margin: 1em auto;
  border-radius: var(--radius-2);
  font-weight: 600;
  font-size: 0.9em;
  font-family: var(--font-heading);
  text-decoration: none;
  display: inline-block;
  transition: all 300ms;
  cursor: pointer;
}

a.btn-secondary:link,
a.btn-secondary:visited {
  color: var(--blue-000);
  background-color: transparent;
  border-color: white;
}



a.btn-primary:hover,
a.btn-primary:focus,
a.btn-secondary:hover,
a.btn-secondary:focus,
button:not(:disabled):hover,
button:not(:disabled):focus {
  background-color:white;
  color: var(--blue-800);
  border: 1px solid white;
  cursor: pointer;
  transition: all 100ms;
}


button:disabled {
  opacity: 0.4;
  cursor:not-allowed;
}
