body {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


/* nav */
header nav,
footer nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  padding: 2em 0.5em;
  margin: 0 1em;
  border-bottom: solid 0.5px #ffffff22;
  
  & ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
  }

}


main {
  padding-bottom: 6em;
}



/* content sections */

section {
  text-align: left;
  max-width: 600px;
  margin:2em auto 4em;
}

header section {
  margin-top: 3em;
  margin-bottom: 5em;
}

/* Footer */ 

footer {

  background-color: #fff;
  padding: 5em 2em;
  margin: 0 -2rem;

  > div {
    text-align: left;
    max-width: 600px;
    margin:2em auto;
  }

  section {
    margin: 0;
    padding:0;
  }
  

  .links-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: start;
    margin-top: 3rem;
  }


  small {
    font-size: 1em;
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    margin-top: 4em;
    border-top: solid 1px var(--neutral-dark-100);
    color: var(--neutral-dark-300);
    
    ul {
      list-style: none;
      display:flex;
      flex-wrap: wrap;
      justify-content:flex-start;
      gap: 1em;

    }
    
  }

}

.flex-btwn {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.panel {
  background-color: var(--shade-down-2);
  border-radius: var(--radius-3);
  padding: 2em;
  margin: 2em 0;
}
