body {
  color: #ffffffdd;
  line-height: 1.6;
  font-size: var(--step-1);
}

nav {
  font-size: var(--step-0);
}

h1, h2, h3, h4 {
  font-family: var(--font-heading);
  padding: 3em 0 0.75em;
  line-height: 1.3;
  text-wrap: pretty;
  color: #ffffff;
}

h1 { font-size: var(--step-6); }
h2 { font-size: var(--step-5); }
h3 { font-size: var(--step-4); }
h4 { font-size: var(--step-3); }

h4 {
  font-family: var(--font-primary);
  font-weight: 800;
}

p + p {
  margin-top: 1.5em;
}

blockquote {
  border-left: solid 2px var(--blue-100);
  background: #00000015;
  padding: 2em;
  margin: 2em 0;
  font-size: var(--step-0);
}

ul, ol {
  margin: 1em 0;
}
li::marker {
  color: var(--blue-200);
}
