---
---

<header class="p-4 bg-slate-200">
  <nav>
    <a href="https://www.netlify.com/">
      <img
        src="https://example-styles.netlify.app/images/logo-netlify-small-monochrome-darkmode.svg"
        alt="Netlify"
        class="nf-logo"
      />
    </a>
  </nav>
  <div class="flex justify-between items-center max-w-7xl mx-auto">
    <h1><a href="/">My Site</a></h1>
  </div>
</header>

<style>
  .user-info {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    border: 1px solid #fff;
    margin: 0 auto;
    display: block;
  }

  .missing-upload {
    margin-left: 0;
  }

  .missing-upload img {
    display: none;
  }
</style>