---
const today = new Date();
---

<footer>
	<p>&copy; {today.getFullYear()} After the Story. All rights reserved.</p>
</footer>
<style>
	footer {
		padding: 3em 1em;
		background: #ffffff;
		border-top: 1px solid rgb(var(--gray-light));
		color: rgb(var(--gray));
		text-align: center;
	}
	footer p {
		margin: 0;
		font-size: 0.9rem;
	}
</style>
