a.btn:link,
a.btn:visited,
button {
  border-style: none;;
  background-color:var(--blue-000);
  color: var(--blue-800);
  padding: 0.3em 1em;
  margin: 1em auto;
  border-style:none;
  border-radius: var(--radius-1);
  font-weight: 600;
  font-size: 0.9em;
  font-family: var(--font-heading);
  text-decoration: none;
  transition: all 300ms;
}


a.btn:hover,
a.btn:focus,
button:hover {
  background-color: var(--teal-200);
  color: var(--blue-900);
  cursor: pointer;
  transition: all 100ms;
}

button:disabled {
  background-color:var(--blue-200);
}

a.btn:hover,
a.btn:focus,
button:disabled:hover {
  background-color:var(--blue-200);
  color: var(--blue-900);
  cursor: default;
}



a.btn-secondary:link,
a.btn-secondary:visited {
  background-color: var(--blue-900);
  color: var(--blue-000);
  transition: all 300ms;
}
