---

---

<header class="p-4">
  <nav>
    <a href="https://www.netlify.com/">
      <img
        src="https://example-styles.netlify.app/images/logo-netlify-small-monochrome-darkmode.svg"
        alt="Netlify"
        class="nf-logo"
      />
    </a>
  </nav>
  <div class="flex justify-between items-center max-w-7xl mx-auto">
    <h1><a href="/">Pet Snuggles w/ Turso</a></h1>
  </div>
</header>
