---

---

<header>
  <nav>
    <a href="https://www.netlify.com/">
      <img
        src="https://example-styles.netlify.app/images/logo-netlify-small-monochrome-darkmode.svg"
        alt="Netlify"
        class="nf-logo"
      />
    </a>
    <ul>
      <li><a href="/">Home</a></li>
      <li>
        <a href="https://github.com/netlify/examples" target="_blank"> Examples </a>
      </li>
      <li>
        <a href="https://docs.netlify.com/" target="_blank">Documentation</a>
      </li>
    </ul>
  </nav>
</header>
