---
import PetCard from '@/components/PetCard.astro'
import ProductCard from '@/components/ProductCard.astro'
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'
import { supabase } from '@/utils/database'

const products = await getCollection('product')

export const prerender = false

const { data, error } = await supabase
  .from('pets')
  .select()
  .order('created_at', { ascending: false })

if (error) {
  console.error(error)
}

const pets = data || []

console.log({pets})

---

<Layout title="Pet Snuggles">
  <h1>Say Hello to these cute pets!</h1>
  <ul>
    {pets.map((pet)=> <PetCard pet={pet} />)}
  </ul>
  <ul>
    {products.map((product) => <ProductCard product={product} />)}
  </ul>
</Layout>
