---
import PetCard from '@/components/PetCard.astro'
import Layout from '@/layouts/Layout.astro'
import { getTableData } from '@/utils/apiHelpers'

export const prerender = false

const pets = await getTableData("pets")

---

<Layout title="Pet Snuggles">
  <h1>Say Hello to these cute pets!</h1>
  <ul>
    {pets.map((pet)=> <PetCard pet={pet} />)}
  </ul>
</Layout>
