---
import Layout from "../components/Layout.astro";
import PetCard from "../components/PetCard.astro";
import { supabase } from "../utils/database";

export const prerender = false;

const { data: pets, error } = await supabase
  .from("pets")
  .select("*")
  .order("snuggles", { ascending: false });

if (error || !pets) {
  console.error(error);
  throw new Error("No pets found");
}
---

<Layout title="Pet Snuggles">
  <h1>Give these pets some snuggles!</h1>

  <section>
    {pets.map((pet) => <PetCard pet={pet} />)}
  </section>
</Layout>

<style>
  section {
    max-width: 54rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
</style>
