<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preload" href="/fonts/PacaembuVar-latin.woff2" as="font" type="font/woff2" />
    <link rel="preload" href="/fonts/MulishVar-latin.woff2" as="font" type="font/woff2" />
    <link rel="stylesheet" href="/styles.css">
    <title>{{title}}</title>
  </head>
  <body>
  <header>
    <nav>
      <a href="https://www.netlify.com/"><img class="nf-logo" src="/images/logo-netlify-small-monochrome-darkmode.svg" alt="Netlify"></a>
      <ul>
        <li><a href="/">Usage</a></li>
        <li><a href="/reference">Reference</a></li>
      </ul>
    </nav>
    <section>
      <h1>Netlify examples styles</h1>
      <p>A simplified set of CSS styles and utilities to use in examples and demos</p>
    </section>
  </header>
  <hr /> 
  <main>
    {{content}}
  </main>
  <footer>
    <nav>
      <ul>
        <li><a href="https://www.netlify.com/"><img class="nf-logo" src="/images/logo-netlify-small-monochrome-lightmode.svg" alt="Netlify"></a></li>
        <li><a href="https://github.com/netlify/examples">Netlify Examples</a></li>
        <li><a href="https://developers.netlify.com">Netlify Developer Hub</a></li>
      </ul>
    </nav>
  </footer>
  </body>
</html>
