---
await new Promise(resolve => setTimeout(resolve, 2000));
---

<p class="instructions">
  This message should appear after a 2 second delay and should not block the rest of the page from rendering.
</p>

<style>
  .instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
</style>
