<div class="panel">
  <h3>Lorem ipsum</h3>
  <p>
    Atque perspiciatis placeat sit deserunt suscipit quisquam eaque hic dolorum libero magnam! Ducimus quis adipisci amet mollitia atque dicta iste aut ratione?
  </p>
</div>
