# Dependencies
node_modules/
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*

# Build output
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo

# Astro
.astro/

# Netlify
.netlify/
