<header>
  <nav>
    <a href="https://www.netlify.com/"><img class="nf-logo" src="https://example-styles.netlify.app/images/logo-netlify-small-monochrome-darkmode.svg" alt="Netlify"></a>
    <ul id="navigation">
      <li><a href="/">Usage</a></li>
      <li><a href="/reference">Reference</a></li>
    </ul>
  </nav>
  <section id="masthead">
    <h1>Netlify examples styles</h1>
    <p>A simplified set of CSS styles and utilities to use in examples and demos</p>
  </section>
</header>