---
import { supabase } from '@/utils/database'
import { productNewReviewPath } from '@/utils/routes'
import type { CollectionEntry } from 'astro:content'

interface Props {
  product: CollectionEntry<'product'>
}

const { product } = Astro.props

console.log('[DEBUG] NewProductReview.astro', product.id)

---

{
    <form action={productNewReviewPath(product)} method="post">
      <div>
        <label for="rating" class="block">
          Rating
        </label>
        <select id="rating" name="rating" class="border">
          <option value="5">5</option>
          <option value="4">4</option>
          <option value="3">3</option>
          <option value="2">2</option>
          <option value="1">1</option>
        </select>
      </div>
      <div>
        <label for="comment" class="block">
          Review Comments
        </label>
        <textarea id="comment" name="comment" class="border" />
      </div>
      <button type="submit">Submit</button>
    </form>
}
