---
import { supabase } from '@/utils/database'
import type { Pet } from '@/utils/types'

interface Props {
  pet: Pet
}

const { pet } = Astro.props

console.log('[DEBUG] PetComments.astro', pet.id)

const { data, error } = await supabase.from('comments').select().eq('pet_id', pet.id)

if (error) {
  console.error(error)
}

const comments = data || []
---

<div>
  <h2>Comments</h2>
  {comments.length === 0 && <p>No comments yet</p>}

  {
    comments.map((comment) => (
      <div style={{margin: "30px auto", padding: "10px", border: "1px solid white", width: "50%"}}>
        <p>{comment.created_at}</p>
        {(comment.comment?.length || 0) > 0 && <p>Comment: {comment.comment}</p>}
      </div>
    ))
  }
</div>
