---
import ClientFetchExample from '../components/client-fetch-example';
import Layout from "../layouts/base.astro";
---

<Layout>
  <section>
    <p
    style={{
      height: '100vh',
    }}
    >
    Scroll down
  </p>
  <ClientFetchExample />
</section>
</Layout>
