---
import CounterExample from '../components/counter-example';
import Layout from "../layouts/base.astro";
---

<Layout>
  <section>
    <h2>Counter example</h2>
    <CounterExample />
  </section>
</Layout>
