---
import Layout from "../layouts/base.astro";
---

<Layout>
  <section>
    <ul>
      <li>
        <a href='/counter'>Counter Example</a>
      </li>
      <li>
        <a href='/emoji'>Emoji Example</a>
      </li>
      <li>
        <a href='/client-fetch'>Client Fetch Example</a>
      </li>
      <li>
        <a href='/server-fetch'>Server Fetch Example</a>
      </li>
    </ul>
  </section>
</Layout>
