---
import DtnButton from "@/components/DtnButton.astro";
import Main from "@/layouts/main.astro";
---

<Main content={{ title: "Netlify Drop Examples" }}>
  <h1>Drop Examples</h1>

  <h2>Prerender Extension</h2>
  <DtnButton filename="prerender-extension" />
</Main>
