---
import PetCard from '@/components/PetCard.astro'
import Layout from '@/layouts/Layout.astro'
import { getTableData } from '@/utils/apiHelpers'

export const prerender = false

const pets = await getTableData("pets")

---

<Layout title="Pet Snuggles">
  <h1>Say Hello to these cute pets!</h1>
  <section class="container mx-auto mt-4">
    <ul
      class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8"
    >
      {pets.map((pet)=> <PetCard pet={pet} />)}
    </ul>
  </section>
</Layout>
