---
import PetCard from '@/components/PetCard.astro'
import Layout from '@/layouts/Layout.astro'
import { turso } from '../utils/database'

export const prerender = false

const data = await turso.execute(`SELECT * FROM pets order by created_at desc`)
const pets = data.rows || []

---

<Layout title="Pet Snuggles">
  <h1>Give these pets some snuggles!</h1>
  <section class="container mx-auto mt-4">
    {pets.map((pet)=> <PetCard pet={pet} />)}
  </section>
</Layout>

<style>
  section {
    max-width: 54rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
</style>