---
import type { User } from "../utils/auth";

interface Props {
  currentUser?: User;
}

const { currentUser } = Astro.props;
---

<header>
  <nav>
    <a href="https://www.netlify.com/">
      <img
        src="https://example-styles.netlify.app/images/logo-netlify-small-monochrome-darkmode.svg"
        alt="Netlify"
        class="nf-logo"
      />
    </a>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/profile">Profile</a></li>
      {
        currentUser && (
          <li class="user-info">
            <img
              src="/avatar"
              class="avatar"
              onerror="this.parentElement.classList.add('missing-upload')"
            />
            {currentUser.name}
          </li>
        )
      }
    </ul>
  </nav>
</header>

<style>
  .user-info {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    border: 1px solid #fff;
    margin: 0 auto;
    display: block;
  }

  .missing-upload {
    margin-left: 0;
  }

  .missing-upload img {
    display: none;
  }
</style>
